# Python
__pycache__/
*.pyc
venv/
.env

# Datasets
dataset/
uploads/

# Models (optionnel : garde seulement le modèle final)
models/*.h5

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.venv/
